<img src={{imageUrl}} alt="">

<ul>
    <li *ngFor="let book of livres let i = index">
        <span>{{ i + 1 }}</span>
        <span>:</span>
        <span>{{ book.nom }}</span>
    </li>
</ul>

<!-- Evenement sur le select -->
<!-- <h3>Choose Your Favorite Cricket Player</h3>
<select #cricket (change)="update($event)">
    <option value="default">----</option>
    <option *ngFor="let player of players" [value]="player">
        {{player}}
    </option>
</select>
  
<p>You selected {{selected}}</p> -->
<!-- Fin Evenement sur le select -->

<!-- Evenement sur change -->
<input (change)="displayValue($event)">
<p> Entered Data is : {{data}}</p>
<!-- Fin Evenement sur change -->

<!-- Evenement sur onKeyUp -->
<input (keyup)="onKeyUp($event)">    
<p>{{text}}</p>
<!-- Fin Evenement sur onKeyUp -->

<div class="col-4">
 <table class="table table-striped">
    <thead>
      <tr>
      <th>Id</th>
      <th>Nom</th>
      <th>Date</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of livres">
        <td>{{book.id}}</td>
        <td>{{book.nom}}</td>
        <td>{{book.date | date: 'longDate' }}</td>
      </tr>
    </tbody>
  </table> 
</div>

  <!-- <form (ngSubmit)="onSave({data : f.value}); f.resetForm()" #f="ngForm">
    <div class="box-body">
      <div class="form-group">
        <label class="control-label">libelle:</label>
        <input type="text" name="libelle" ngModel class="form-control">
      </div>
      <div class="form-group">
        <label class="control-label">Description:</label>
        <textarea name="description" ngModel class="form-control"></textarea>
      </div>

      <button class="btn btn-success" type="submit">Enregistrer</button>
    </div>
  </form> -->