<div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h5 class="card-title">Primary card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  
    <form #f="ngForm" (ngSubmit)="onCalculer({data : f.value})" >

      <label >nombre1:</label>
      <input type="text" name="nombre1" ngModel ><br>

      <label >Choisissez l'opérateur:</label>

       <select name="operateur" ngModel>
         <option value="+">Addition</option>
         <option value="-">Soustration</option>
         <option value="*">Multiplication</option>
         <option value="/">Division</option>
       </select><br>
    
      <label >nombre2:</label>
      <input type="text" name="nombre2" ngModel><br>

    <button type="submit">Calculer</button>

    <div *ngIf="modeTotal==1">
       Total: {{total}}
    </div>
</form>
  </div>
</div>




  <img src={{imageUrl}} alt="Une image Test" height="100" width="100">
