<div class="text-center" style="color: blue;font-size: 50px;">
  TP ANGULAR
</div>
<button (click)="onAddForm()" *ngIf="mode=='list' || mode=='formModif'" class="btn btn-outline-primary" type="button">Nouveau Employé
</button>
<button (click)="onList()" *ngIf="mode=='form' || mode=='formModif'" class="btn btn-outline-secondary" type="button">Liste des Employés
</button>
<p></p>

<div *ngIf="mode=='form'" class="container align-items-center justify-content-center">
  <div class="card border-success">
    <div class="card-header bg-transparent border-success">FORMULAIRE D'ENREGISTREMENT</div>
    <div class="card-body text-success">
      <form #addForm="ngForm" (ngSubmit)="onAddEmloyee(addForm)">
        <div class="form-group">
          <label>Name</label>
          <input class="form-control" name="name" ngModel placeholder="Name" required type="text">
        </div>
        <div class="form-group">
          <label>Email Address</label>
          <input class="form-control" name="email" ngModel placeholder="Email" required type="email">
        </div>
        <div class="form-group">
          <label>Job title</label>
          <input class="form-control" name="jobTitle" ngModel placeholder="Job title" required type="text">
        </div>
        <div class="form-group">
          <label>Phone</label>
          <input class="form-control" name="phone" ngModel placeholder="Phone" required type="text">
        </div>
        <div class="form-group">
          <label>Date Creation</label>
          <input class="form-control" name="dateCreation" ngModel required type="date">
        </div>

        <div class="card-footer bg-transparent border-success text-center">
          <button class="btn btn-secondary" type="button">Reset</button>
          <button [disabled]="addForm.invalid" class="btn btn-primary" type="submit">Enregistrer</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div *ngIf="mode=='formModif'" class="container align-items-center justify-content-center">
  <div class="card border-success">
    <div class="card-header bg-transparent border-success">FORMULAIRE D'ENREGISTREMENT</div>
    <div class="card-body text-success">
      <form #addForm="ngForm" (ngSubmit)="onAddEmloyee(addForm)">
        <input class="form-control" name="id" [(ngModel)]="employee.id" required type="hidden">
        <div class="form-group">
          <label>Name</label>
          <input class="form-control" name="name" [(ngModel)]="employee.name" placeholder="Name" required type="text">
        </div>
        <div class="form-group">
          <label>Email Address</label>
          <input class="form-control" name="email" [(ngModel)]="employee.email" placeholder="Email" required type="email">
        </div>
        <div class="form-group">
          <label>Job title</label>
          <input class="form-control" name="jobTitle" [(ngModel)]="employee.jobTitle" placeholder="Job title" required type="text">
        </div>
        <div class="form-group">
          <label>Phone</label>
          <input class="form-control" name="phone" [(ngModel)]="employee.phone" placeholder="Phone" required type="text">
        </div>
        <div class="form-group">
          <label>Date Creation</label>
          <input class="form-control" name="dateCreation" [(ngModel)]="employee.dateCreation" required type="date">
        </div>

        <div class="card-footer bg-transparent border-success text-center">
          <button class="btn btn-secondary" type="button">Reset</button>
          <button [disabled]="addForm.invalid" class="btn btn-primary" type="submit">Enregistrer</button>
        </div>
      </form>
    </div>
  </div>
</div>


<div *ngIf="mode=='list'" class="container align-items-center justify-content-center">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Email</th>
      <th>Job</th>
      <th>Phone</th>
      <th>Date</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let emp of employees">
      <td>{{emp.employeeCode}}</td>
      <td>{{emp.name}}</td>
      <td>{{emp.email}}</td>
      <td>{{emp.jobTitle}}</td>
      <td>{{emp.phone}}</td>
      <td>{{emp.dateCreation | date: 'longDate' }}</td>
      <button class="btn btn-success " (click)="onSearchEmpById(emp.id)">
        Edit
      </button>

      <button class="btn btn-success " (click)="onDeleteEmloyee(emp.id)">
        Delete
      </button>
    </tr>
    </tbody>
  </table>
</div>
